body {
	background-color: White;
	text-align: center;
}

.page-width {
	width: 1000px;
	margin-left: 200px;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#menubar {
	margin-top: 20px;
	font-family: Arial, Sans-serif;
}

#menubar ul li {
	display: inline;
}


li a {
	color: gray;
	text-decoration: none;
	padding: 2em;
}

li a:hover {
	color: Darkgray;
}

#logo {
	float: left;
}
