body {
	background-color: white;
	
}

header {
	margin: 0 auto;
	width: 780px;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav {
	margin-top: 20px;
	font-family: Arial, Sans-serif;
}
nav ul li {
	display: inline;
}


li a {
	color: gray;
	text-decoration: none;
	padding: 2em;
}

li a:hover {
	color: Darkgray;
}
li a.karma {
	font-weight: 600;
}

#logo {
	float: left;
}
