
.content {
	margin: 0 auto;
	width: 880px;
	height: 75px;
	background-color: White;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav {
	margin-top: 20px;
	font-family: Arial, Sans-serif;
}
nav ul li {
	display: inline;
}

li a {
	color: gray;
	text-decoration: none;
	padding: 2em;
}

li a:hover {
	color: Darkgray;
}
li a.karma {
	font-weight: 600;
}

.logo {
	float: left;
	padding-right: 6rem;
}

.introduction {
	background-image: url('../images/first-background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
 }